@import '../core/Var.scss';

.footer {
  height: 25vh;
  background-color: $scd-accent-clr;
  color: $dark-contrast;
  padding: 20px 20px 5px;
  margin-top: 35px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 15px;
  height: 100%;
  &__menu {
    &--list {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      list-style-type: none;
      color: $dark-contrast;
      font-size: $small-txt-mbl;
      & .item {
        &__contact {
          color: $dark-contrast;
          text-decoration: none;
          &:hover {
            color: $primary-clr;
            transition: 0.3s;
          }
        }
        &__link {
          text-decoration: none;
          color: $dark-contrast;
          &:hover {
            color: $primary-clr;
            transition: 0.3s;
          }
        }
        &__icon {
          font-size: $main-txt-lg;
        }
      }
    }
  }
  &__copy {
    width: 100%;
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    font-size: $smaller-txt-mbl;
    gap: 10px;
    &--link {
      color: $dark-contrast;
      text-decoration: none;
      font-size: 0.8rem;
      &:hover {
        color: $primary-clr;
      }
      &.author {
        font-size: $smaller-txt-mbl;
      }
      &.ref{
        display: block;
      }
    }
  }
}
