@import "../core/Var";
@import "../components/Buttons";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 3px $scd-accent-clr;
  z-index: 1;
  background-color: $dark-contrast;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    @media all and (min-width: 768px) {
      max-width: 1024px;
      margin: 0 auto;
    }
  }
  &__logo {
    background-image: url(../../images/favicon.png);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 15px;
  }
  &__menu {
    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      list-style-type: none;
      color: $primary-clr;
      font-size: $main-txt-mbl;
      & .item {
        &__contact {
          color: $accent-clr;
          text-decoration: none;
          font-weight: 700;
          padding: 3px 3px;
          @include button-transition($accent-clr)
        }
        &__link {
          text-decoration: none;
          color: $scd-clr;
          font-weight: 700;
          @media all and (min-width: 768px) {
            padding: 4px 8px;
            border-radius: 5px;
            @include button-transition($scd-clr)
          }
          &--text {
            display: none;
            @media all and (min-width: 768px) {
              display: inline;
            }
          }
        }
        &__icon {
          font-size: $main-txt-lg;
        }
      }
    }
  }
}
