@import '../core/Var';
/* TECH STACK ICONS */

.main {
  &__hero {
    min-height: 80vh;
    width: 100%;
    background-image: url(../../images/hero4.png);
    background-position: top;
    background-size: 300px;
    background-repeat: no-repeat;
    animation-name: introHero;
    animation-duration: 2s;
    animation-iteration-count: 1;
    @media all and (min-width: 768px) {
      background-position: top left;
      background-size: 360px;
    }
    &--text {
      text-align: center;
      color: $primary-clr;
      padding-top: 260px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 0 10px;
      font-weight: 700;
      @media all and (min-width: 768px) {
        height: 330px;
        padding: 0 15px 0 375px;
      }
      & .title {
        font-size: $title-mbl;
        &--accent {
          color: $accent-clr;
        }
        @media all and (min-width: 768px) {
          font-size: $title-tb;
        }
      }
      & .intro {
        margin: 15px 0;
        font-size: $subtitle-mbl;
        line-height: 1.5;
        &--accent {
          color: $scd-clr;
        }
        @media all and (min-width: 768px) {
          font-size: $subtitle-tb;
        }
      }
    }
    &--desc {
      font-size: 1.5rem;
      margin: 5px 15px;
      line-height: 1.5;
      & .desc--link {
        color: $scd-accent-clr;
        &:hover {
          color: $accent-clr;
        }
      }
      & .paragraph:last-of-type {
        padding-top: 20px;
        text-align: center;
        color: $scd-clr;
        font-weight: 600;
      }
      @media all and (min-width: 768px) {
        font-size: $main-txt-lg;
      }
    }
    &--tech, &--learn {
      margin: 25px 15px;
      & .tech__title, .learn__title {
        padding-bottom: 10px;
        color: $primary-clr;
        font-size: $subtitle-mbl;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;
        & span {
          color: transparent;
        }
        &:hover {
          color: $accent-clr;
        }
        &:hover span {
          cursor: pointer;
          color: $accent-clr;
        }
      }
      & .container {
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
      }
      @each $name, $url in $stack-icons {
        .tech__icon--#{$name} {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background-image: url($url);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      @each $name, $url in $learn-icons {
        .learn__icon--#{$name} {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background-image: url($url);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    & .technologies {
      display: flex;
      flex-flow: column nowrap;
      @media all and (min-width: 768px){
        flex-flow: row nowrap;
      }
    }
    &--tech {
      @media all and (min-width: 768px) {
            width: 60%;
          }
    }
    &--learn {
      @media all and (min-width: 768px) {
            width: 35%;
          }
    }

    &--projects {
      text-align: center;
      font-size: $subtitle-mbl;
      font-weight: 700;
      padding: 30px 0;
      animation: projects-btn 3s linear 2s infinite normal none;
      & .link {
        color: $primary-clr;
        text-decoration: none;
        & span {
          color: transparent;
          margin-left: -20px;
        }
        &__text:hover {
          color: $accent-clr;
        }
        &__text:hover span {
          cursor: pointer;
          color: $accent-clr;
        }
      }
    }
    .line--through {
      margin-top: 45px;
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px $scd-accent-clr;
    }
  }
}

@keyframes introHero {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes projects-btn {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-7px);
  }
  12% {
    transform: translateY(2px);
  }
  17% {
    transform: translateY(-7px);
  }
  25% {
    transform: translateY(0px);
  }
}
