@import '../../assets/core/Var';

.contact {
  min-height: 100vh;
  padding-top: 100px;
  &__hero {
    background-image: url('../../images/contact-4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
  }
  &__title {
    font-family: $primary-font;
    font-size: $title-mbl;
    color: $primary-clr;
    font-weight: 700;
    line-height: 15vh;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    &--label,
    &--input,
    &--textarea {
      width: 80%;
      @media all and (min-width: 768px) {
        max-width: 550px;
      }
    }
    &--label {
      font-family: $primary-font;
      font-size: $subtitle-mbl;
      padding: 10px 0;
    }
    &--input,
    &--textarea {
      border: 2px solid $scd-clr;
      border-radius: 5px;
      font-size: $main-txt-mbl;
      padding: 10px;
      &::placeholder {
        font-size: $main-txt-mbl;
        padding: 2px 5px 0;
      }
    }
    &--input {
      height: 30px;
    }
    &--submit {
      margin-top: 15px;
      font-size: $main-txt-mbl;
      border: 2px solid $scd-clr;
      border-radius: 5px;
      padding: 5px 7px;
      background-color: $scd-clr;
      color: $dark-contrast;
      font-weight: 700;
      &:hover {
        background-color: $scd-accent-clr;
        border-color: $scd-accent-clr;
        transition: 0.4s;
      }
    }
  }
  &__other {
    text-align: center;
    font-size: $main-txt-mbl;
    color: $primary-clr;
    padding: 15px 0;
  }
  &__succeed {
    margin-top: 95px;
    min-height: 100vh;
    text-align: center;
    font-size: $main-txt-mbl;
    font-family: $primary-font;
    color: $accent-clr;
    font-weight: 700;;
  }
}
