@import '../../assets/core/Var';
@import '../../assets/core/Reset';

.card {
  width: 205px;
  margin: 15px auto;
  @media all and (min-width:768px){
    width: 270px;
    &-img-top {
      min-height: 200px;
      max-width: '100%';
      height: 'auto';
    }
    &-body {
      min-height: 210px;
    }
  }
}
div > .btn-custom {
  background-color: $scd-accent-clr;
  border-color: $scd-accent-clr;
  color: $dark-contrast;
  font-weight: 700;
  margin: 5px;
  font-size: $small-txt-mbl;
  &:hover {
    background-color: $accent-clr;
  }
  &-footer {
    background-color: $scd-clr;
    color: $dark-contrast;
    margin: 5px;
    font-size: $smaller-txt-mbl;
  }
}
